<div>
    <!-- banner -->
    <div class="banner py-3">
        <div class="relative flex justify-center items-center md:justify-start ">
            <img class="hidden lg:block  w-full"
                src="https://tuk-cdn.s3.amazonaws.com/can-uploader/banner_11_desktop.png" alt="randeer">
            <img class="md:block lg:hidden hidden  w-full "
                src="https://tuk-cdn.s3.amazonaws.com/can-uploader/banner_11_ipad.png" alt="randeer">
            <img class="md:hidden w-full " src="https://tuk-cdn.s3.amazonaws.com/can-uploader/banner_11_mobile.png"
                alt="randeer">
            <div class="flex absolute justify-start flex-col md:flex-row items-center md:space-y-12 md:space-y-0">
                <div class=" py-32 sm:py-20  md:hidden"></div>
                <div
                    class="mt-10  lg:w-auto custom sm:mt-96 md:mt-0 h-full flex px-4 md:px-0  z-10 justify-center items-center md:items-start flex-col md:pl-20 lg:px-20 2xl:px-44">
                    <p
                        class="text-xl sm:text-2xl xl:text-4xl text-center md:text-left font-semibold leading-6 xl:leading-10 text-gray-100 md:w-96 2xl:w-2/3">
                        Your message from Santa is waiting!</p>
                    <p
                        class="mt-4 md:w-80 lg:w-2/3 xl:w-3/4 text-center md:text-left  text-base leading-normal text-gray-200">
                        Looking to create a greater impact with your commercial Christmas display? Take a look at
                        the services we have on offer...</p>
                    <button
                        class="mt-6 shrink-0 w-full md:w-auto  lg:mt-8 py-2 md:py-3 px-10 flex justify-center duration-700  items-center text-base border-2 border-white transition hover:-translate-y-1 hover:bg-gray-100 hover:text-gray-800 font-medium text-white">
                        Explore Now
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->
    <div class="2xl:mx-auto 2xl:container px-4 md:px-6 2xl:px-0 py-16 flex justify-center">
        <div class="fle flex-col justify-center items-center">
            <div class="flex justify-start items-start">
                <p class="text-3xl lg:text-4xl font-semibold leading-9 text-gray-800">Featured items</p>
            </div>
            <div class="grid md:grid-cols-2 lg:grid-cols-4 justify-items-between mt-8 gap-y-8 lg:gap-y-0 gap-x-8">
                <div class="flex items-start flex-col mx-0 py-4" *ngFor="let product of products">
                    <div class="relative flex justify-center items-center bg-gray-100 py-12 px-16">
                        <img src="https://picsum.photos/200/200" alt="" />
                        <button
                            class="absolute top-4 right-4 flex justify-center items-center p-2 bg-white rounded-full">
                            <svg class="fill-stroke text-gray-600 hover:text-gray-500" width="20" height="20"
                                viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M6.00002 6.59999V5.39999C6.00002 4.44521 6.37931 3.52953 7.05444 2.8544C7.72957 2.17927 8.64525 1.79999 9.60003 1.79999V1.79999C10.5548 1.79999 11.4705 2.17927 12.1456 2.8544C12.8207 3.52953 13.2 4.44521 13.2 5.39999V6.59999M3.00002 6.59999C2.84089 6.59999 2.68828 6.6632 2.57576 6.77572C2.46324 6.88825 2.40002 7.04086 2.40002 7.19999V15.3C2.40002 16.434 3.36602 17.4 4.50002 17.4H14.7C15.834 17.4 16.8 16.4809 16.8 15.3469V7.19999C16.8 7.04086 16.7368 6.88825 16.6243 6.77572C16.5118 6.6632 16.3592 6.59999 16.2 6.59999H3.00002Z"
                                    stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                                <path
                                    d="M6 8.40002V9.00002C6 9.9548 6.37928 10.8705 7.05442 11.5456C7.72955 12.2207 8.64522 12.6 9.6 12.6C10.5548 12.6 11.4705 12.2207 12.1456 11.5456C12.8207 10.8705 13.2 9.9548 13.2 9.00002V8.40002"
                                    stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                    </div>
                    <div  class="flex flex-col items-start jusitfy-start mt-3 space-y-3">
                        <div>
                            <a routerLink="/products/{{product._id}}"><p class="text-lg font-medium leading-4 text-gray-800">{{product.name}}</p></a>
                        </div>
                        <div>
                            <p class="text-lg leading-4 text-gray-600">$790</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>