<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Damage</th>
            <th>Defense</th>
            <th>Speed</th>
            <th>Price</th>
            <th>Avatar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let champ of champs">
            <td>
                <app-champ [champName]="champ.name"></app-champ>
            </td>
            <td>
                <app-damage [champDmg]="champ.dmg"></app-damage>
            </td>
            <td>{{champ.def}}</td>
            <td>{{champ.speed}}</td>
            <td>
                <app-price [champPrice]="champ.price"></app-price>
            </td>
            <td>
                <img [src]="champ.avatar" [alt]="champ.name" height="100">
            </td>
        </tr>
    </tbody>
</table>