<header class="bg-white shadow">
    <div class="max-w-7xl mx-auto py-2 px-4 sm:px-6 lg:px-8">
        <div class="lg:flex lg:items-center lg:justify-between">
            <div class="flex-1 min-w-0">
                <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">
                    Quản lý tài khoản
                </h2>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
        <div class="px-4 py-6 sm:px-0">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{user._id}}</td>
                        <td>{{user.name}}</td>
                        <th *ngIf="user.role == 1"><button (click)="change(user._id)" >Admin</button></th>
                        <th *ngIf="user.role == 0"><button (click)="change(user._id)" >Client</button></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>