<p>{{userForm.valid | json}}</p>
<form action="" #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
    <div class="form-group">
        <label for="">Name user</label>
        <input type="text" class="form-control" name="name" ngModel required minlength="6" maxlength="32" #name="ngModel">
       <span>{{name.errors | json}}</span>
        <app-show-validate [field]="name" key="name"></app-show-validate>
    </div>
    <div class="form-group">
        <label for="">Age user</label>
        <input type="number" class="form-control" name="age" ngModel required min="1" max="100" #age="ngModel">
        <app-show-validate [field]="age" key="age"></app-show-validate>
    </div>
    <br>
    <div>
        <button class="btn btn-success" [disabled]="!userForm.valid">Submit</button>
    </div>
</form>