<p>{{inputValues | json}}</p>
<form action="" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <div class="form-group">
        <input type="hidden" class="form-control" name="id" [(ngModel)]="inputValues.id" required minlength="4"
            maxlength="32" #id="ngModel">
    </div>
    <div class="form-group">
        <label for="">Name user</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="inputValues.name" required minlength="4"
            maxlength="32" #name="ngModel">
        <app-show-validate [field]="name" key="name"></app-show-validate>
    </div>
    <div class="form-group">
        <label for="">Age user</label>
        <input type="number" class="form-control" name="age" [(ngModel)]="inputValues.age" required min="1" max="100"
            #age="ngModel">
        <app-show-validate [field]="age" key="age"></app-show-validate>
    </div>
    <div class="form-group">
        <label for="">Email</label>
        <input type="text" class="form-control" name="email" [(ngModel)]="inputValues.email" required minlength="4"
            maxlength="32" #email="ngModel">
        <app-show-validate [field]="email" key="email"></app-show-validate>
    </div>
    <div class="form-group">
        <label for="">SDT</label>
        <input type="number" class="form-control" name="sdt" [(ngModel)]="inputValues.sdt" required min="2"
            #sdt="ngModel">
        <app-show-validate [field]="sdt" key="sdt"></app-show-validate>
    </div>
    <br>
    <div>
        <button class="btn btn-success" [disabled]="!userForm.valid">Submit</button>
    </div>
</form>

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>SDT</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.age}}</td>
                <td>{{user.email}}</td>
                <td>{{user.sdt}}</td>
                <td>
                    <button class="btn btn-primary" (click)="onEdit(user,user.id)">Update</button>
                    <button class="btn btn-danger" (click)="onRemove(user.id)">Del</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>