<header class="bg-white shadow">
    <div class="max-w-7xl mx-auto py-2 px-4 sm:px-6 lg:px-8">
        <div class="lg:flex lg:items-center lg:justify-between">
            <div class="flex-1 min-w-0">
                <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">
                    Dashboard
                </h2>
            </div>
            <div class="mt-5 flex lg:mt-0 lg:ml-4">
                <a routerLink="/admin/products/create" class="sm:ml-3">
                <button type="button" class=" flex items-center justify-center px-3 py-2 btn btn-outline-primary">
                    Thêm bài viết
                </button>
                </a>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
        <div class="px-4 py-6 sm:px-0">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Img</th>
                        <th>Price</th>
                        <th>Desc</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <td>{{product._id}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.img}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.desc}}</td>
                        <td>
                            <a routerLink="/admin/products/{{product._id}}"><button class="btn btn-outline-info mx-2">Detail</button></a>
                            <button class="btn btn-outline-danger mr-2" (click)="onDelete(product._id)">Delete</button>
                            <a routerLink="/admin/products/edit/{{product._id}}"><button class="btn btn-outline-secondary">Edit</button></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </main>
