<span *ngIf="(field.dirty || field.touched) && field.errors?.['required']" class="text-danger">
    {{key}} required
</span>
<span *ngIf="(field.dirty || field.touched) && field.errors?.['min']" class="text-danger">
    {{key}} min {{field.errors?.['min'].requiredLenght}}
</span>
<span *ngIf="(field.dirty || field.touched) && field.errors?.['max']" class="text-danger">
    {{key}} max {{field.errors?.['max'].requiredLenght}}
</span>
<span *ngIf="(field.dirty || field.touched) && field.errors?.['minlength']" class="text-danger">
    {{key}} min {{field.errors?.['minlength'].requiredLenght}}
</span>
<span *ngIf="(field.dirty || field.touched) && field.errors?.['maxlength']" class="text-danger">
    {{key}} max 32
</span>