<div>
    <a routerLink="/admin/products"><button class="btn btn-outline-primary">Quay lai</button></a>
</div>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="">Product name</label>
        <input type="text" class="form-control" formControlName="name">
        <span *ngIf="(productForm.get('name')?.dirty || productForm.get('name')?.touched && productForm.get('name')?.errors?.['required'])"></span>
        <app-show-validate [field]="productForm.get('name')" key="Name Product"></app-show-validate>
    </div>
    <div>
        <button class="btn btn-success" [disabled]="!productForm.valid">Submit</button>
    </div>
</form>